
/*Header CSS Code*/
nav{
    ul{
        margin: 10px;
        padding: 10px;
        li{
           list-style: none;
           a{
            text-decoration:none;
            &:hover{
                color: red;
            }
           }
        }
    }
}